.agents/
node_modules/
.env
.agents.md
# Logs de errores
pnpm-debug.log*
pnpm-debug.log*
pnpm-error.log*

# Archivos del sistema y editores
.DS_Store
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.backend/.env

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.env
agente.md
ARCHITECTURE.md
CLAUDE.md
backend/*.db
backend/*.db-journal
backend/*.db-wal
backend/*.db-shm